<div class="top-wrapper">
    <div class="top">
        <div class="top-inner">
            <div class="map">


                <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                <div id="map" class="map-inner" style="height: 415px; position: relative; background-color: rgb(229, 227, 223); overflow: hidden; -webkit-transform: translateZ(0px);"></div>
                <!-- /.map-inner -->

            </div>
        </div><!-- /.top-inner -->
    </div><!-- /.top -->
</div><!-- /.top-wrapper -->