<div id="content" class="clearfix">
            <div class="top-wrapper">
    <div class="top">
        <div class="top-inner">
                    </div><!-- /.top-inner -->
    </div><!-- /.top -->
</div><!-- /.top-wrapper -->
    
    <div class="container">
        <div class="row">
            
            
            
            <div id="main" class="span9">
                            <h1 class="page-header">Properties</h1>
    
            <script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('select[name=filter_sort_by]').change(function () {
            $('form.form-sort').submit();
        });

        $('select[name=filter_order]').change(function () {
            $('form.form-sort').submit();
        });
    });
</script>

<div class="properties-rows">
    <div class="filter">
        <form action="http://wp.realia.byaviators.com/properties/" method="get" class="form-sort form-horizontal">
            
            <div class="control-group">
                <label class="control-label" for="inputSortBy">
                    Sort by
                </label>

                <div class="controls">
                    <select name="filter_sort_by" id="inputSortBy" class="chzn-done" style="display: none;">
                        <option value="title">Name</option>
                        <option value="date">Date</option>
                        <option value="price">Price</option>

                                                    <option value="beds">Bedrooms</option>
                        
                                                    <option value="baths">Bathrooms</option>
                                            </select><div id="inputSortBy_chzn" class="chzn-container chzn-container-single chzn-container-single-nosearch" style="width: 100px;" title=""><a href="javascript:void(0)" class="chzn-single" tabindex="-1"><span>Name</span><div><b></b></div></a><div class="chzn-drop" style="left:-9000px;"><div class="chzn-search"><input type="text" autocomplete="off"></div><ul class="chzn-results"><li id="inputSortBy_chzn_o_0" class="active-result result-selected" style="">Name</li><li id="inputSortBy_chzn_o_1" class="active-result" style="">Date</li><li id="inputSortBy_chzn_o_2" class="active-result" style="">Price</li><li id="inputSortBy_chzn_o_3" class="active-result" style="">Bedrooms</li><li id="inputSortBy_chzn_o_4" class="active-result" style="">Bathrooms</li></ul></div></div>
                </div>
                <!-- /.controls -->
            </div>
            <!-- /.control-group -->

            <div class="control-group">
                <label class="control-label" for="inputOrder">
                    Order
                </label>

                <div class="controls">
                    <select id="inputOrder" name="filter_order" class="chzn-done" style="display: none;">
                        <option value="DESC">DESC</option>
                        <option value="ASC">ASC</option>
                    </select><div id="inputOrder_chzn" class="chzn-container chzn-container-single chzn-container-single-nosearch" style="width: 100px;" title=""><a href="javascript:void(0)" class="chzn-single" tabindex="-1"><span>DESC</span><div><b></b></div></a><div class="chzn-drop" style="left:-9000px;"><div class="chzn-search"><input type="text" autocomplete="off"></div><ul class="chzn-results"><li id="inputOrder_chzn_o_0" class="active-result result-selected" style="">DESC</li><li id="inputOrder_chzn_o_1" class="active-result" style="">ASC</li></ul></div></div>
                </div>
                <!-- /.controls -->
            </div>
            <!-- /.control-group -->
        </form>
    </div>
    <!-- /.filter -->
</div><!-- /.properties-rows -->    
            
        <div class="properties-rows">
            <div class="row">
                                                            <div class="property span9">
    <div class="row">
        <div class="image span3">
            <div class="content">
                <a href="http://wp.realia.byaviators.com/properties/6980-dume-dr/"></a>
                                    <img src="http://wp.realia.byaviators.com/wp-content/uploads/2013/05/property-small-4.png" alt="6980 Dume Dr">
                            </div>
            <!-- /.content -->
        </div>
        <!-- /.image -->

        <div class="body span6">
            <div class="title-price row">
                <div class="title span4">
                    <h2><a href="http://wp.realia.byaviators.com/properties/6980-dume-dr/">6980 Dume Dr</a></h2>
                </div>
                <!-- /.title -->

                <div class="price">1500000 €</div>
                <!-- /.price -->
            </div>
            <!-- /.title -->

            <div class="location">Palo Alto, SA</div>
            <!-- /.location -->

            <div class="body">
                Aliquam vel egestas turpis. Proin sollicitudin imperdiet nisi ac rutrum. Sed imperdiet libero malesuada erat cursus eu pulvinar tellus rhoncus. Ut eget tellus neque, faucibus ornare odio. Fusce sagittis hendrerit mi a sollicitudin.
            </div>
            <!-- /.body -->

            <div class="info clearfix">
                                    <div class="area">
                        <span class="key">Area:</span><!-- /.key -->
                        <span class="value">32m<sup>2</sup></span><!-- /.value -->
                    </div><!-- /.area -->
                
                                    <div class="bedrooms" title="Bedrooms">
                        <div class="content">12</div>
                    </div><!-- /.bedrooms -->
                
                                    <div class="bathrooms" title="Bathrooms">
                        <div class="content">32</div>
                    </div><!-- /.bathrooms -->
                            </div>
            <!-- /.info -->
        </div>
        <!-- /.body -->
    </div>
    <!-- /.row -->
</div><!-- /.property -->
                                                                                <div class="property span9">
    <div class="row">
        <div class="image span3">
            <div class="content">
                <a href="http://wp.realia.byaviators.com/properties/6477-zuma-view-pl/"></a>
                                    <img src="http://wp.realia.byaviators.com/wp-content/uploads/2013/05/property-small-1.png" alt="6477 Zuma View Pl">
                            </div>
            <!-- /.content -->
        </div>
        <!-- /.image -->

        <div class="body span6">
            <div class="title-price row">
                <div class="title span4">
                    <h2><a href="http://wp.realia.byaviators.com/properties/6477-zuma-view-pl/">6477 Zuma View Pl</a></h2>
                </div>
                <!-- /.title -->

                <div class="price">1500000 €</div>
                <!-- /.price -->
            </div>
            <!-- /.title -->

            <div class="location">Palo Alto, SA</div>
            <!-- /.location -->

            <div class="body">
                Aliquam vel egestas turpis. Proin sollicitudin imperdiet nisi ac rutrum. Sed imperdiet libero malesuada erat cursus eu pulvinar tellus rhoncus. Ut eget tellus neque, faucibus ornare odio. Fusce sagittis hendrerit mi a sollicitudin.
            </div>
            <!-- /.body -->

            <div class="info clearfix">
                                    <div class="area">
                        <span class="key">Area:</span><!-- /.key -->
                        <span class="value">123m<sup>2</sup></span><!-- /.value -->
                    </div><!-- /.area -->
                
                                    <div class="bedrooms" title="Bedrooms">
                        <div class="content">3213</div>
                    </div><!-- /.bedrooms -->
                
                                    <div class="bathrooms" title="Bathrooms">
                        <div class="content">123</div>
                    </div><!-- /.bathrooms -->
                            </div>
            <!-- /.info -->
        </div>
        <!-- /.body -->
    </div>
    <!-- /.row -->
</div><!-- /.property -->
                                                                                <div class="property span9">
    <div class="row">
        <div class="image span3">
            <div class="content">
                <a href="http://wp.realia.byaviators.com/properties/555-byron-st-304/"></a>
                                    <img src="http://wp.realia.byaviators.com/wp-content/uploads/2013/05/property-small-6.png" alt="555 Byron St #304">
                            </div>
            <!-- /.content -->
        </div>
        <!-- /.image -->

        <div class="body span6">
            <div class="title-price row">
                <div class="title span4">
                    <h2><a href="http://wp.realia.byaviators.com/properties/555-byron-st-304/">555 Byron St #304</a></h2>
                </div>
                <!-- /.title -->

                <div class="price">1500000 €</div>
                <!-- /.price -->
            </div>
            <!-- /.title -->

            <div class="location">Palo Alto, SA</div>
            <!-- /.location -->

            <div class="body">
                Aliquam vel egestas turpis. Proin sollicitudin imperdiet nisi ac rutrum. Sed imperdiet libero malesuada erat cursus eu pulvinar tellus rhoncus. Ut eget tellus neque, faucibus ornare odio. Fusce sagittis hendrerit mi a sollicitudin.
            </div>
            <!-- /.body -->

            <div class="info clearfix">
                                    <div class="area">
                        <span class="key">Area:</span><!-- /.key -->
                        <span class="value">100m<sup>2</sup></span><!-- /.value -->
                    </div><!-- /.area -->
                
                                    <div class="bedrooms" title="Bedrooms">
                        <div class="content">2</div>
                    </div><!-- /.bedrooms -->
                
                                    <div class="bathrooms" title="Bathrooms">
                        <div class="content">1</div>
                    </div><!-- /.bathrooms -->
                            </div>
            <!-- /.info -->
        </div>
        <!-- /.body -->
    </div>
    <!-- /.row -->
</div><!-- /.property -->
                                                                                <div class="property span9">
    <div class="row">
        <div class="image span3">
            <div class="content">
                <a href="http://wp.realia.byaviators.com/properties/550-irven-ct/"></a>
                                    <img src="http://wp.realia.byaviators.com/wp-content/uploads/2013/05/property-small-2.png" alt="550 Irven Ct">
                            </div>
            <!-- /.content -->
        </div>
        <!-- /.image -->

        <div class="body span6">
            <div class="title-price row">
                <div class="title span4">
                    <h2><a href="http://wp.realia.byaviators.com/properties/550-irven-ct/">550 Irven Ct</a></h2>
                </div>
                <!-- /.title -->

                <div class="price">360000 €</div>
                <!-- /.price -->
            </div>
            <!-- /.title -->

            <div class="location">Palo Alto, SA</div>
            <!-- /.location -->

            <div class="body">
                Aliquam vel egestas turpis. Proin sollicitudin imperdiet nisi ac rutrum. Sed imperdiet libero malesuada erat cursus eu pulvinar tellus rhoncus. Ut eget tellus neque, faucibus ornare odio. Fusce sagittis hendrerit mi a sollicitudin.
            </div>
            <!-- /.body -->

            <div class="info clearfix">
                                    <div class="area">
                        <span class="key">Area:</span><!-- /.key -->
                        <span class="value">180m<sup>2</sup></span><!-- /.value -->
                    </div><!-- /.area -->
                
                                    <div class="bedrooms" title="Bedrooms">
                        <div class="content">2</div>
                    </div><!-- /.bedrooms -->
                
                                    <div class="bathrooms" title="Bathrooms">
                        <div class="content">2</div>
                    </div><!-- /.bathrooms -->
                            </div>
            <!-- /.info -->
        </div>
        <!-- /.body -->
    </div>
    <!-- /.row -->
</div><!-- /.property -->
                                                                                <div class="property span9">
    <div class="row">
        <div class="image span3">
            <div class="content">
                <a href="http://wp.realia.byaviators.com/properties/386-everett-ave/"></a>
                                    <img src="http://wp.realia.byaviators.com/wp-content/uploads/2013/05/property-small-1.png" alt="386 Everett Ave">
                            </div>
            <!-- /.content -->
        </div>
        <!-- /.image -->

        <div class="body span6">
            <div class="title-price row">
                <div class="title span4">
                    <h2><a href="http://wp.realia.byaviators.com/properties/386-everett-ave/">386 Everett Ave</a></h2>
                </div>
                <!-- /.title -->

                <div class="price">125000 €</div>
                <!-- /.price -->
            </div>
            <!-- /.title -->

            <div class="location">Silicon Valley, SA</div>
            <!-- /.location -->

            <div class="body">
                Aliquam vel egestas turpis. Proin sollicitudin imperdiet nisi ac rutrum. Sed imperdiet libero malesuada erat cursus eu pulvinar tellus rhoncus. Ut eget tellus neque, faucibus ornare odio. Fusce sagittis hendrerit mi a sollicitudin.
            </div>
            <!-- /.body -->

            <div class="info clearfix">
                                    <div class="area">
                        <span class="key">Area:</span><!-- /.key -->
                        <span class="value">450m<sup>2</sup></span><!-- /.value -->
                    </div><!-- /.area -->
                
                                    <div class="bedrooms" title="Bedrooms">
                        <div class="content">2</div>
                    </div><!-- /.bedrooms -->
                
                                    <div class="bathrooms" title="Bathrooms">
                        <div class="content">2</div>
                    </div><!-- /.bathrooms -->
                            </div>
            <!-- /.info -->
        </div>
        <!-- /.body -->
    </div>
    <!-- /.row -->
</div><!-- /.property -->
                                                </div><!-- /.row -->
        </div><!-- /.properties-grid -->


        <div class="pagination pagination-centered"><ul class="unstyled"><li class="active"><a href="#">1</a></li><li><a href="http://wp.realia.byaviators.com/properties/page/2/" class="inactive">2</a></li><li><a href="http://wp.realia.byaviators.com/properties/page/3/" class="inactive">3</a></li><li><a href="http://wp.realia.byaviators.com/properties/page/4/" class="inactive">4</a></li></ul></div>

                </div><!-- /#main -->

                            <div class="sidebar span3">
                    
                        <h2>Filter</h2>

<div class="property-filter widget">
    <div class="content">
        <form method="get" action="http://wp.realia.byaviators.com/properties/">
                            <div class="location control-group">
                    <label class="control-label" for="inputLocation-propertyfilter_widget-2">
                        Location
                    </label>

                    <div class="controls">
                        <select name="filter_location" id="inputLocation-propertyfilter_widget-2" class="chzn-done" style="display: none;">
                            <option value="">-</option>
                                                            <option value="6">Palo Alto, SA</option>
                                                            <option value="7">Silicon Valley, SA</option>
                                                    </select><div id="inputLocation_propertyfilter_widget_2_chzn" class="chzn-container chzn-container-single chzn-container-single-nosearch" style="width: 230px;" title=""><a href="javascript:void(0)" class="chzn-single" tabindex="-1"><span>-</span><div><b></b></div></a><div class="chzn-drop" style="left:-9000px;"><div class="chzn-search"><input type="text" autocomplete="off"></div><ul class="chzn-results"><li id="inputLocation_propertyfilter_widget_2_chzn_o_0" class="active-result result-selected" style="">-</li><li id="inputLocation_propertyfilter_widget_2_chzn_o_1" class="active-result" style="">Palo Alto, SA</li><li id="inputLocation_propertyfilter_widget_2_chzn_o_2" class="active-result" style="">Silicon Valley, SA</li></ul></div></div>
                    </div>
                    <!-- /.controls -->
                </div><!-- /.control-group -->
            
                            <div class="type control-group">
                    <label class="control-label" for="inputType-propertyfilter_widget-2">
                        Type
                    </label>

                    <div class="controls">
                        <select name="filter_type" id="inputType-propertyfilter_widget-2" class="chzn-done" style="display: none;">
                            <option value="">-</option>
                                                            <option value="51">Apartment</option>
                                                            <option value="2">Building Area</option>
                                                            <option value="3">Condo</option>
                                                            <option value="4">Cottage</option>
                                                            <option value="5">Family House</option>
                                                            <option value="49">Single Home</option>
                                                            <option value="50">Villa</option>
                                                    </select><div id="inputType_propertyfilter_widget_2_chzn" class="chzn-container chzn-container-single chzn-container-single-nosearch" style="width: 230px;" title=""><a href="javascript:void(0)" class="chzn-single" tabindex="-1"><span>-</span><div><b></b></div></a><div class="chzn-drop" style="left:-9000px;"><div class="chzn-search"><input type="text" autocomplete="off"></div><ul class="chzn-results"><li id="inputType_propertyfilter_widget_2_chzn_o_0" class="active-result result-selected" style="">-</li><li id="inputType_propertyfilter_widget_2_chzn_o_1" class="active-result" style="">Apartment</li><li id="inputType_propertyfilter_widget_2_chzn_o_2" class="active-result" style="">Building Area</li><li id="inputType_propertyfilter_widget_2_chzn_o_3" class="active-result" style="">Condo</li><li id="inputType_propertyfilter_widget_2_chzn_o_4" class="active-result" style="">Cottage</li><li id="inputType_propertyfilter_widget_2_chzn_o_5" class="active-result" style="">Family House</li><li id="inputType_propertyfilter_widget_2_chzn_o_6" class="active-result" style="">Single Home</li><li id="inputType_propertyfilter_widget_2_chzn_o_7" class="active-result" style="">Villa</li></ul></div></div>
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->
            
                            <div class="beds control-group">
                    <label class="control-label" for="inputBeds-propertyfilter_widget-2">
                        Beds
                    </label>

                    <div class="controls">
                        <select name="filter_bedrooms" id="inputBeds-propertyfilter_widget-2" class="chzn-done" style="display: none;">
                            <option value="">-</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>
                                                    </select><div id="inputBeds_propertyfilter_widget_2_chzn" class="chzn-container chzn-container-single chzn-container-single-nosearch" style="width: 110.390625px;" title=""><a href="javascript:void(0)" class="chzn-single" tabindex="-1"><span>-</span><div><b></b></div></a><div class="chzn-drop" style="left:-9000px;"><div class="chzn-search"><input type="text" autocomplete="off"></div><ul class="chzn-results"><li id="inputBeds_propertyfilter_widget_2_chzn_o_0" class="active-result result-selected" style="">-</li><li id="inputBeds_propertyfilter_widget_2_chzn_o_1" class="active-result" style="">1</li><li id="inputBeds_propertyfilter_widget_2_chzn_o_2" class="active-result" style="">2</li><li id="inputBeds_propertyfilter_widget_2_chzn_o_3" class="active-result" style="">3</li><li id="inputBeds_propertyfilter_widget_2_chzn_o_4" class="active-result" style="">4</li><li id="inputBeds_propertyfilter_widget_2_chzn_o_5" class="active-result" style="">5</li><li id="inputBeds_propertyfilter_widget_2_chzn_o_6" class="active-result" style="">6</li><li id="inputBeds_propertyfilter_widget_2_chzn_o_7" class="active-result" style="">7</li><li id="inputBeds_propertyfilter_widget_2_chzn_o_8" class="active-result" style="">8</li><li id="inputBeds_propertyfilter_widget_2_chzn_o_9" class="active-result" style="">9</li><li id="inputBeds_propertyfilter_widget_2_chzn_o_10" class="active-result" style="">10</li></ul></div></div>
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->
            
                        <div class="baths control-group">
                <label class="control-label" for="inputBaths-propertyfilter_widget-2">
                    Baths
                </label>

                <div class="controls">
                    <select name="filter_bathrooms" id="inputBaths-propertyfilter_widget-2" class="chzn-done" style="display: none;">
                        <option value="">-</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                            </select><div id="inputBaths_propertyfilter_widget_2_chzn" class="chzn-container chzn-container-single chzn-container-single-nosearch" style="width: 110.390625px;" title=""><a href="javascript:void(0)" class="chzn-single" tabindex="-1"><span>-</span><div><b></b></div></a><div class="chzn-drop" style="left:-9000px;"><div class="chzn-search"><input type="text" autocomplete="off"></div><ul class="chzn-results"><li id="inputBaths_propertyfilter_widget_2_chzn_o_0" class="active-result result-selected" style="">-</li><li id="inputBaths_propertyfilter_widget_2_chzn_o_1" class="active-result" style="">1</li><li id="inputBaths_propertyfilter_widget_2_chzn_o_2" class="active-result" style="">2</li><li id="inputBaths_propertyfilter_widget_2_chzn_o_3" class="active-result" style="">3</li><li id="inputBaths_propertyfilter_widget_2_chzn_o_4" class="active-result" style="">4</li><li id="inputBaths_propertyfilter_widget_2_chzn_o_5" class="active-result" style="">5</li><li id="inputBaths_propertyfilter_widget_2_chzn_o_6" class="active-result" style="">6</li><li id="inputBaths_propertyfilter_widget_2_chzn_o_7" class="active-result" style="">7</li><li id="inputBaths_propertyfilter_widget_2_chzn_o_8" class="active-result" style="">8</li><li id="inputBaths_propertyfilter_widget_2_chzn_o_9" class="active-result" style="">9</li><li id="inputBaths_propertyfilter_widget_2_chzn_o_10" class="active-result" style="">10</li></ul></div></div>
                </div>
                <!-- /.controls -->
            </div>
            <!-- /.control-group -->
            
            
                            <div class="price-from control-group">
                    <label class="control-label" for="inputPriceFrom-propertyfilter_widget-2">
                        Price From
                    </label>

                    <div class="controls">
                        <select name="filter_price_from" id="inputPriceFrom-propertyfilter_widget-2" class="chzn-done" style="display: none;">
                            <option value="">-</option>
                                                            <option value="1000">1000 €</option>
                                                            <option value="20000">20000 €</option>
                                                            <option value="50000">50000 €</option>
                                                            <option value="100000">100000 €</option>
                                                    </select><div id="inputPriceFrom_propertyfilter_widget_2_chzn" class="chzn-container chzn-container-single chzn-container-single-nosearch" style="width: 110.390625px;" title=""><a href="javascript:void(0)" class="chzn-single" tabindex="-1"><span>-</span><div><b></b></div></a><div class="chzn-drop" style="left:-9000px;"><div class="chzn-search"><input type="text" autocomplete="off"></div><ul class="chzn-results"><li id="inputPriceFrom_propertyfilter_widget_2_chzn_o_0" class="active-result result-selected" style="">-</li><li id="inputPriceFrom_propertyfilter_widget_2_chzn_o_1" class="active-result" style="">1000 €</li><li id="inputPriceFrom_propertyfilter_widget_2_chzn_o_2" class="active-result" style="">20000 €</li><li id="inputPriceFrom_propertyfilter_widget_2_chzn_o_3" class="active-result" style="">50000 €</li><li id="inputPriceFrom_propertyfilter_widget_2_chzn_o_4" class="active-result" style="">100000 €</li></ul></div></div>
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->
            
                            <div class="price-to control-group">
                    <label class="control-label" for="inputPriceTo-propertyfilter_widget-2">
                        Price To
                    </label>

                    <div class="controls">
                        <select name="filter_price_to" id="inputPriceTo-propertyfilter_widget-2" class="chzn-done" style="display: none;">
                            <option value="">-</option>
                                                            <option value="1000">1000 €</option>
                                                            <option value="20000">20000 €</option>
                                                            <option value="50000">50000 €</option>
                                                            <option value="100000">100000 €</option>
                                                    </select><div id="inputPriceTo_propertyfilter_widget_2_chzn" class="chzn-container chzn-container-single chzn-container-single-nosearch" style="width: 110.390625px;" title=""><a href="javascript:void(0)" class="chzn-single" tabindex="-1"><span>-</span><div><b></b></div></a><div class="chzn-drop" style="left:-9000px;"><div class="chzn-search"><input type="text" autocomplete="off"></div><ul class="chzn-results"><li id="inputPriceTo_propertyfilter_widget_2_chzn_o_0" class="active-result result-selected" style="">-</li><li id="inputPriceTo_propertyfilter_widget_2_chzn_o_1" class="active-result" style="">1000 €</li><li id="inputPriceTo_propertyfilter_widget_2_chzn_o_2" class="active-result" style="">20000 €</li><li id="inputPriceTo_propertyfilter_widget_2_chzn_o_3" class="active-result" style="">50000 €</li><li id="inputPriceTo_propertyfilter_widget_2_chzn_o_4" class="active-result" style="">100000 €</li></ul></div></div>
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->
            
            
            
            <div class="form-actions">
                <button class="btn btn-primary btn-large">Filter now!</button>
            </div>
            <!-- /.form-actions -->
        </form>
    </div>
    <!-- /.content -->
</div><!-- /.property-filter -->
    <div id="agents_widget-2" class="widget our-agents">

            <h2>Agents</h2>
    
    <div class="content">
                    <div class="agent clearfix">
                <div class="image">
                    <a href="http://wp.realia.byaviators.com/agents/john-connor/">
                                                    <img width="140" height="141" src="http://wp.realia.byaviators.com/wp-content/uploads/2013/05/john-small.png" class="attachment-post-thumbnail wp-post-image" alt="john-small">
                                            </a>
                </div>
                <!-- /.image -->

                <div class="name">
                    <a href="http://wp.realia.byaviators.com/agents/john-connor/">John Connor</a>
                </div>
                <!-- /.name -->
                <div class="phone">666-999-888</div>
                <!-- /.phone -->
                <div class="email"><a href="mailto:connor@example.com">connor@example.com</a>
                </div>
                <!-- /.email -->
            </div><!-- /.agent -->
                    <div class="agent clearfix">
                <div class="image">
                    <a href="http://wp.realia.byaviators.com/agents/martin-crane/">
                                                    <img width="140" height="141" src="http://wp.realia.byaviators.com/wp-content/uploads/2013/05/emma-small.png" class="attachment-post-thumbnail wp-post-image" alt="emma-small">
                                            </a>
                </div>
                <!-- /.image -->

                <div class="name">
                    <a href="http://wp.realia.byaviators.com/agents/martin-crane/">Sarah Connor</a>
                </div>
                <!-- /.name -->
                <div class="phone">222-333-444</div>
                <!-- /.phone -->
                <div class="email"><a href="mailto:martin@example.com">martin@example.com</a>
                </div>
                <!-- /.email -->
            </div><!-- /.agent -->
                    <div class="agent clearfix">
                <div class="image">
                    <a href="http://wp.realia.byaviators.com/agents/john-doe/">
                                                    <img width="140" height="141" src="http://wp.realia.byaviators.com/wp-content/uploads/2013/05/john-small.png" class="attachment-post-thumbnail wp-post-image" alt="john-small">
                                            </a>
                </div>
                <!-- /.image -->

                <div class="name">
                    <a href="http://wp.realia.byaviators.com/agents/john-doe/">John Doe</a>
                </div>
                <!-- /.name -->
                <div class="phone">000-222-333</div>
                <!-- /.phone -->
                <div class="email"><a href="mailto:john@example.com">john@example.com</a>
                </div>
                <!-- /.email -->
            </div><!-- /.agent -->
            </div><!-- /.content -->

    </div>
<div id="featuredproperties_widget-4" class="widget properties">

    <h2>Featured</h2>

<div class="content">
                        <div class="property">
                <div class="image">
                    <a href="http://wp.realia.byaviators.com/properties/3412-cloudcroft-dr-2-2/"></a>
                                            <img src="http://wp.realia.byaviators.com/wp-content/uploads/2013/05/property-small-6-240x177.png" alt="3412 Cloudcroft Dr">
                                    </div>
                <!-- /.image -->

                <div class="wrapper">
                    <div class="title">
                        <h3><a href="http://wp.realia.byaviators.com/properties/3412-cloudcroft-dr-2-2/">
                                                                    3412 Cloudcroft Dr
                                                            </a></h3>
                    </div>
                    <!-- /.title -->

                    <div class="location">Silicon Valley, SA</div>
                    <!-- /.location -->

                    <div class="price">
                                                    249000 €                                             </div>
                    <!-- /.price -->
                </div>
                <!-- /.wrapper -->
            </div>
                    <div class="property">
                <div class="image">
                    <a href="http://wp.realia.byaviators.com/properties/1030-palo-alto-ave/"></a>
                                            <img src="http://wp.realia.byaviators.com/wp-content/uploads/2013/05/property-small-4-240x177.png" alt="1030 Palo Alto Ave">
                                    </div>
                <!-- /.image -->

                <div class="wrapper">
                    <div class="title">
                        <h3><a href="http://wp.realia.byaviators.com/properties/1030-palo-alto-ave/">
                                                                    1030 Palo Alto Ave
                                                            </a></h3>
                    </div>
                    <!-- /.title -->

                    <div class="location">Palo Alto, SA</div>
                    <!-- /.location -->

                    <div class="price">
                                                    486000 €                                             </div>
                    <!-- /.price -->
                </div>
                <!-- /.wrapper -->
            </div>
                    <div class="property">
                <div class="image">
                    <a href="http://wp.realia.byaviators.com/properties/1041-fife-ave/"></a>
                                            <img src="http://wp.realia.byaviators.com/wp-content/uploads/2013/05/property-small-3-240x177.png" alt="1041 Fife Ave">
                                    </div>
                <!-- /.image -->

                <div class="wrapper">
                    <div class="title">
                        <h3><a href="http://wp.realia.byaviators.com/properties/1041-fife-ave/">
                                                                    1041 Fife Ave
                                                            </a></h3>
                    </div>
                    <!-- /.title -->

                    <div class="location">Palo Alto, SA</div>
                    <!-- /.location -->

                    <div class="price">
                                                    450000 €                                             </div>
                    <!-- /.price -->
                </div>
                <!-- /.wrapper -->
            </div>
            </div><!-- /.content -->

</div>    

                </div><!-- /#sidebar -->
                    </div><!-- /.row -->

                    <div class="content-bottom-wrapper">
	<div class="content-bottom">
		<div class="content-bottom-inner">
					</div><!-- /.content-bottom-inner -->
	</div><!-- /.content-bottom -->
</div><!-- /.content-bottom-wrapper -->
            </div><!-- /.container -->

    </div>