<!-- NAVIGATION -->
				<div id="navigation">
					<div class="container">
						<div class="navigation-wrapper">
							<div class="navigation clearfix-normal">
								<div class="menu-main-container">
									<ul id="menu-main" class="nav">
										<li id="menu-item-355" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menuparent menu-item-355">
											<a href="#">Home</a>
											
										</li>
										<li id="menu-item-78" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menuparent menu-item-78">
											<a href="http://wp.realia.byaviators.com/properties">Pubs</a>
											<ul class="sub-menu">
												<!--<li id="menu-item-426" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menuparent menu-item-426">
													<a href="#">Property Types</a>
													<ul class="sub-menu">
														<li id="menu-item-425" class="menu-item menu-item-type-taxonomy menu-item-object-property_types menu-item-425">
															<a href="http://wp.realia.byaviators.com/property-type/condo/">Condo</a>
														</li>
														<li id="menu-item-427" class="menu-item menu-item-type-taxonomy menu-item-object-property_types menu-item-427">
															<a href="http://wp.realia.byaviators.com/property-type/family-house/">Family House</a>
														</li>
														<li id="menu-item-428" class="menu-item menu-item-type-taxonomy menu-item-object-property_types menu-item-428">
															<a href="http://wp.realia.byaviators.com/property-type/building-area/">Building Area</a>
														</li>
														<li id="menu-item-429" class="menu-item menu-item-type-taxonomy menu-item-object-property_types menu-item-429">
															<a href="http://wp.realia.byaviators.com/property-type/villa/">Villa</a>
														</li>
														<li id="menu-item-430" class="menu-item menu-item-type-taxonomy menu-item-object-property_types menu-item-430">
															<a href="http://wp.realia.byaviators.com/property-type/cottage/">Cottage</a>
														</li>
														<li id="menu-item-431" class="menu-item menu-item-type-taxonomy menu-item-object-property_types menu-item-431">
															<a href="http://wp.realia.byaviators.com/property-type/single-home/">Single Home</a>
														</li>
														<li id="menu-item-432" class="menu-item menu-item-type-taxonomy menu-item-object-property_types menu-item-432">
															<a href="http://wp.realia.byaviators.com/property-type/apartment/">Apartment</a>
														</li>
													</ul>
												</li>-->
												<li id="menu-item-433" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menuparent menu-item-433">
													<a href="#">Categorias</a>
													<ul class="sub-menu">
														<li id="menu-item-434" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-434">
															<a href="http://wp.realia.byaviators.com/location/palo-alto-sa/">Palo Alto, SA</a>
														</li>
														<li id="menu-item-435" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-435">
															<a href="http://wp.realia.byaviators.com/location/silicon-valley-sa/">Silicon Valley, SA</a>
														</li>
													</ul>
												</li>
												<li id="menu-item-1478" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menuparent menu-item-1478">
													<a href="#">Contract Types</a>
													<ul class="sub-menu">
														<li id="menu-item-1475" class="menu-item menu-item-type-taxonomy menu-item-object-property_contracts menu-item-1475">
															<a href="http://wp.realia.byaviators.com/property-contract/rent/">Rent</a>
														</li>
														<li id="menu-item-1476" class="menu-item menu-item-type-taxonomy menu-item-object-property_contracts menu-item-1476">
															<a href="http://wp.realia.byaviators.com/property-contract/sale/">Sale</a>
														</li>
														<li id="menu-item-1477" class="menu-item menu-item-type-taxonomy menu-item-object-property_contracts menu-item-1477">
															<a href="http://wp.realia.byaviators.com/property-contract/sold/">Sold</a>
														</li>
													</ul>
												</li>
											</ul>
										</li>
											
										<li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63">
											<a href="http://wp.realia.byaviators.com/contact-us/">Contact us</a>
										</li>
									</ul>
								</div>

							</div><!-- /.navigation -->
						</div><!-- /.navigation-wrapper -->
					</div><!-- /.container -->
				</div><!-- /.navigation -->